@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #243e63;
}

.container{
    padding: 80px 0;
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
}

h1{
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

p{
    font-size: 18px;
    line-height: 1.5;
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.625;
}

button{
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

.section__tag{
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
    color: #6415ff;
}

.section__title{
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 0.025em;
    margin: 16px 0;
}

/* 

NAVIGATION

*/

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-top: 24px;
    font-weight: 600;
}

.nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--img {
    width: 50px;
    height: 50px;
}

.nav__logo--title{
    font-size: 32px;
    font-weight: 900;
    margin-left: 12px;
}

.nav__links{
    display: flex;
    align-items: center;
}

.nav__link{
    padding: 24px;
    color: #243e63;
    position: relative;
    text-decoration: none;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(100, 21, 255);
    transition: width 300ms ease;
}

.link__hover-effect:hover:after {
    width: 60%;
}

.nav__link--login{
    margin-left: 24px;
}

.nav__link--button{
    background-color: rgb(100, 21, 255);
    color: white;
    margin: 2px 0 0;
    padding: 10px 32px;
    border-radius: 9999px;
}

.nav__link--button:hover{
    background-color: rgb(80, 17, 204);
}

.purple-text{
    color:rgb(100, 21, 255)
}

/* 

HEADER

*/

.header{
    display: flex;
}

.header__description{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 24px;
}

.header__description--para{
    margin: 32px 0;
}

.header__email{
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input{
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn{
   z-index: 2;
   margin: 8px;
   padding: 16px 0;
   height: calc(100%-16px);
   width: 160px;
   font-weight: 700;
   font-size: 16px;
}

.trusted-customers{
    margin-top: 16px;
    padding-right: 95px;
}

.trusted-customers__title{
    margin-top: 60px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}

.trusted-customers__img{
    margin-top: 16px;
    width: 100%;
    opacity: 0.5;
}

.header__img {
    width: 60%;
    padding: 24px;
}

.header__img img{
    width: 100%;
    height: auto;
}

/* 

FEATURES

*/

#features{
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.features__para{
    width: 100%;
    max-width: 576px;
    margin: 0 auto;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 1000px;
}

.service {
    width: calc(100% / 3);
}

.service__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.service__description{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 8px;
    margin-left: 16px;
}

.service__icon {
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    padding: 20px
}

.service__description--para{
    font-size: 16px;
    margin-top: 16px;
    max-width: calc(634px / 3);
    line-height: 2;
}

/* 

QUALITY WORK

*/

#quality-work{
    position: relative;
    padding: 0 32px;
}

.quality-work{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0;
}

.quality-work__description{
    display: flex;
    flex-direction: column;
    max-width: 576px;
    width: 50%;
    padding: 24px;
    align-items: flex-start;
}

.quality-work__title {
    line-height: 1.25;
}

.quality-work__btn {
    margin-top: 32px;
}

.quality-work__img {
    width: 50%;
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality-work__img img{
    width: 100%;
    display: block;
    position: relative;
    z-index: 2;
}

.quality-work__dots {
    position: absolute;
    right: -32px;
    bottom: -32px;
    width: 80px;
    height: 80px;
    background-image: radial-gradient(circle, #6415ff 2px, transparent 2.5px);
    background-size: 8px 8px;
    z-index: 1;
}

/* 

STEPS

*/

.steps__wrapper{
    display: flex;
}

.steps__img--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    position: relative;
}

.steps__img{
    width: 100%;
    position: relative;
    z-index: 2;
}

.steps__dots{
    position: absolute;
    width: 150px;
    height: 155px;
    margin-left: 245px;
    transform: translateY(178px);
    background-image: radial-gradient(circle, #6315ff1c 4px, transparent 2.5px);
    background-size: 14px 12px;
    z-index: 1;
}

.steps__description{
    display: flex;
    flex-direction: column;
    max-width: 576px;
    width: 50%;
    padding: 24px;
    margin-left: 40px;
    align-items: flex-start;
}

.steps__tag {
    margin-bottom: 24px;
    letter-spacing: 1.6px;
}

.steps__title{
    font-weight: 900;
    margin-bottom: 24px;
    letter-spacing: 1.6px;
}

.step{
    display: flex;
    align-items: flex-start;
    margin: 24px 0;
}

.step__number{
    width: 70px;
    font-size: 36px;
    font-weight: 600;
    color:#a0aec085;
    line-height: 1;
}

.step__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    padding: 12px 0;
    color: #718096;
    font-weight: 500;
    line-height: 2;
    max-width: 320px;
}

/* 

VALUES

*/

.values__wrapper{
    display: flex;
}

.values__description{
    width: 50%;
padding: 32px 64px 32px 0;}

.values{
    display: flex;
    margin: 24px 0;
}

.value{
    padding-right: 48px;}

.value__title--wrapper{
    display: flex;
    align-items: center;
}

.value__title{
    padding-left: 12px;
    font-size: 20;
    font-weight: bold;
    color: #243e63;
}

.value__icon--dollar-sign{
    border: 1px solid #fff;
    background-color: #A7F3D0;
    padding: 8px;
    border-radius: 50%;

}

.value__icon--dollar-sign i{
    color: #059669;
}

.value__icon--briefcase{
    border: 1px solid #fff;
    background-color: #FECACA;
    padding: 8px;
    border-radius: 50%;
}

.value__icon--briefcase i{
    color: #B91C1C;
}

.value__para{
    font-size: 16px;
    margin-top: 16px;
}

.values__img--wrapper{
    width: 50%;
}

.values__img{
    width: 100%;
}

/* 

PRICING

*/

#pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pricing__para{
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 24px;
}

.plans{
    display: flex;
}

.plan{
    width: calc(100% / 3);
    padding: 20px;
}

.plan__features{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.plan__features li{
    padding: 8px;
    color: #7c8ba1
}

.plan__title--wrapper{
    border: 2px solid #a0aec03b;
    width: 350px;
    padding: 32px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 1px;
    position: relative;
}

.plan--individual .plan__title--wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #2DD4BF, #A7F3D0);
    border-radius: 8px 8px 0 0;
}

.plan--enterprise .plan__title--wrapper::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #F87171, #FECACA);
    border-radius: 8px 8px 0 0;
}

.plan--business .plan__title--wrapper, .plan--business .plan__features--wrapper, .plan--business .btn__wrapper{
    background: linear-gradient(to right, #5B21B6, #7C3AED);
}

.plan__title{
    text-transform: uppercase;
    font-size: 16px;
}

.plan--business .plan__title, .plan--business .plan__price, .plan--business .plan__duration, .plan--business .plan__features--title, .plan--business .plan__feature{
    color: #fff;
}

.plan__price {
    padding: 8px;
    font-size: 50px;
    font-weight: bold;
    color:#1a202c
}

.plan__duration{
    font-size: 16px;
    color: #a0aec0;
    line-height: .5px;
    letter-spacing: 1.6;
    font-weight: 700;
}

.plan__features--wrapper{
    border: 2px solid #a0aec03b;
    width: 350px;
    padding: 32px;
}


.btn__wrapper{
    border: 2px solid #a0aec03b;
    width: 350px;
    padding: 32px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.plan__btn {
    width: 175px;
    text-transform: uppercase;
}

.plan--individual .plan__btn{
    background: linear-gradient(to right, #14B8A6, #A7F3D0);
}

.plan--enterprise .plan__btn{
    background: linear-gradient(to right, #F87171, #FECACA);
}

.plan--business .plan__btn{
    background-color: white;
    color: black;
}

/* 

TESTIMONIALS

*/

.testimonial__wrapper{
    display: flex;
    align-items: center;
    gap: 40px;
}

.testimonials__img--wrapper{
    width: 50%;
    padding: 12px;
    max-width: 600px;
}

.testimonials__img{
    width: 100%;
}

.testimonials{
    width: 50%;
    max-width: 600px;
    padding: 24px;
    position: relative;
}

.testimonials__para{
    margin-bottom: 24px;
}

.testimonial {
    padding: 16px 0;
}

.review__stars i{
    color: gold
}

.testimonial__title{
    padding: 16px 0;
}

.testimonial__quote{
    font-size: 16px;
    margin-bottom: 16px;
}

.testimonial__bottom{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}

.testimonial__profile--img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    display: block;
    max-width: 80px;
    max-height: 80px;
    object-position: 50% 10%;
}

.testimonial__name{
    font-size: 16px;
    font-weight: 600;
    color: #1a202c;
}

.testimonial__role{
    font-size: 14px;
    color: #7c8ba1;
}

.testimonials__btns{
    display: flex;
    gap: 24px;
    border-radius: 50%;
    position:absolute;
    transform: translateY(-75px);
    right: 100px;
}

.testimonials__btn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: #edf2f7;
    color:#6415ff;
    border: none;
    font-weight: 900;
    padding: 0 6px;
}

/* 

RESPONSIVE SCREENS

*/

@media (max-width: 1280px){
    .header{
        align-items: flex-end;
    }

    h1{
        font-size: 36px;
        color: #1a202c;
        line-height: 1.25;
    }

    .header__description--para{
        font-size: 16px;
    }

    .header__img {
        display: flex;
        justify-content: center;
    }

    .trusted-customers {
        display: flex;
        flex-direction: column;
    }

    .trusted-customers__img {
        display: block;
        margin: 16px auto 0 auto;
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 1024px){
    .header{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header__description{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .header__description, .header__img{
        width: 100%;
        max-width: 625px;
        margin: 0 auto;
    }

    h1{
        font-size: 30px;
    }

    .header__description--para{
        margin: 20px 0;
    }

    .header__img, .trusted-customers__title{
        margin-top: 48px;
    }

    .trusted-customers {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding-right: 0;
    }

    .trusted-customers__img {
        display: block;
        margin: 16px auto 0 auto;
        max-width: 100%;
        height: auto;
    }

    .features__para{
        font-size: 16px;
    }

    .services {
        max-width: 768px;
    }

    .service {
        width:calc(100% / 2);

    }

    .service__row {
        padding: 32px 8px;
        margin: 0 16px;
    }

    .quality-work__description{
        margin-right: 0px;
        padding-right: 48px;
    }

    .quality-work__para{
        font-size: 16px;
    }
}

@media (max-width: 640px) {
    .header__email{
        flex-direction: column;
        height: auto;
    }

    .header__email--input {
        position: static;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
    }

    .header__email--btn{
        width: 100%;
        padding: 16px 0;
        margin: 16px 0;
        margin-bottom: 0px;
        line-height: 1.5;
    }

    .trusted-customers__title{
        font-size: 14px;
        letter-spacing: 0.05em;
    }
}

